<div class="movie__container" data-id="{{id}}">
    <div class="poster-overlay">
        <img class="movie__poster" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}"
            srcset="https://image.tmdb.org/t/p/w342/{{poster_path}} 342w, https://image.tmdb.org/t/p/w500/{{poster_path}} 500w"
            sizes="(min-width: 900px) 500px, (min-width: 360px) 342px, 100vw">
    </div>
    <div class="movie__thumb">
        <h4 class="movie__title">{{title}}</h4>
        <p class="movie__overview">{{overview}}</p>
        <div class="movie__rating">
            <svg class="movie__rating-icon" width="16" height="16" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.7299 3.51001L15.4899 7.03001C15.7299 7.52002 16.3699 7.99001 16.9099 8.08001L20.0999 8.61001C22.1399 8.95001 22.6199 10.43 21.1499 11.89L18.6699 14.37C18.2499 14.79 18.0199 15.6 18.1499 16.18L18.8599 19.25C19.4199 21.68 18.1299 22.62 15.9799 21.35L12.9899 19.58C12.4499 19.26 11.5599 19.26 11.0099 19.58L8.01991 21.35C5.87991 22.62 4.57991 21.67 5.13991 19.25L5.84991 16.18C5.97991 15.6 5.74991 14.79 5.32991 14.37L2.84991 11.89C1.38991 10.43 1.85991 8.95001 3.89991 8.61001L7.08991 8.08001C7.61991 7.99001 8.25991 7.52002 8.49991 7.03001L10.2599 3.51001C11.2199 1.60001 12.7799 1.60001 13.7299 3.51001Z"
                    stroke="#FFAD49" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <p class="movie__rating-value">{{rating vote_average}}</p>
        </div>
        <ul class="movie__features-list">
            <li class="movie__feature-item">
                <p class="movie__feature">Genres</p>
                <ul class="movie__feature-value movie__feature-value--list">{{#each genres}}
                    <li class="movie__feature-value--comma">{{name}}</li>
                    {{/each}}
                </ul>
            </li>
            <li class="movie__feature-item movie__feature-item--country">
                <p class="movie__feature">Country</p>
                <ul class="movie__feature-value movie__feature-value--list">{{#each production_countries}}<li
                        class="movie__feature-value--comma">{{name}}</li>{{/each}}</ul>
            </li>
            <li class="movie__feature-item">
                <p class="movie__feature">Release Date</p>
                <p class="movie__feature-value">{{release_date}}</p>
            </li>
            <li class="movie__feature-item">
                <p class="movie__feature">Run time</p>
                <p class="movie__feature-value">{{runtime}} min</p>
            </li>
        </ul>
        <div>
            <button class="movie__button" id="btnToList" data-action="toList" data-movid="{{id}}">
                <svg class="movie__button-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 12H18" stroke="#7B6EF6" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M12 18V6" stroke="#7B6EF6" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                Add to my list</button>

            <button class="movie__button movie__button--added visually-hidden" id="btnFromList" data-action="fromList"
                data-movid="{{id}}">
                <svg class="movie__button-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M22 9V15C22 15.22 22 15.44 21.98 15.65C21.16 14.64 19.91 14 18.5 14C17.44 14 16.46 14.37 15.69 14.99C14.65 15.81 14 17.08 14 18.5C14 19.34 14.24 20.14 14.65 20.82C14.92 21.27 15.26 21.66 15.66 21.98C15.45 22 15.23 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H15C20 2 22 4 22 9Z"
                        stroke="#37D8A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M2.51953 7.10999H21.4795" stroke="#37D8A7" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M8.51953 2.10999V6.96997" stroke="#37D8A7" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M15.4795 2.10999V6.52002" stroke="#37D8A7" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M23 18.5C23 19.34 22.76 20.14 22.35 20.82C22.11 21.22 21.81 21.58 21.46 21.88C20.67 22.58 19.64 23 18.5 23C17.43 23 16.44 22.62 15.67 21.98H15.66C15.26 21.66 14.92 21.27 14.65 20.82C14.24 20.14 14 19.34 14 18.5C14 17.08 14.65 15.81 15.69 14.99C16.46 14.37 17.44 14 18.5 14C19.91 14 21.16 14.64 21.98 15.65C22.62 16.42 23 17.42 23 18.5Z"
                        stroke="#37D8A7" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M16.75 18.5L17.86 19.61L20.26 17.39" stroke="#37D8A7" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Already in my list</button>
        </div>

    </div>
</div>